.primary {
    color: #213242;
}

.secondary {
    color: #FFFFFF;
}
.tertiary{
 color: #D3d3d3;
}

.tertiary-dark {
    color: #A1A1A1;
}

.black {
    color: #000000;
}

.accent-light {
    color: #484599;
}

.accent-dark {
    color: #25244F;
}

.primary-bg {
    background-color: #213242;
}

.secondary-bg {
    background-color: #FFFFFF;
}

.accent-light-bg {
    background-color: #484599;
}

.accent-dark-bg {
    background-color: #25244F;
}

.primary-border {
    border-color: #213242;
}