/*STYLES ON THE POSTS PAGE*/
.searchbox {
    max-height: 664px;
}

.btn-accent {
    background-color: #25244F;
    color: #FFFFFF;
}

.btn-accent:hover {
    background-color: #484599;
    color: #FFFFFF;
}

.post:hover {
    opacity: 90%;
}

.logout:hover{
   color: red;
}

.mylink:hover{
   color: #484599;
   font-weight: bold;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.loglink:hover{
   color: red;
   font-weight: bold;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.p{
   color: #D3d3d3;
}