/*STYLES ON THE POSTS PAGE*/
.searchbox {
    max-height: 664px;
}

.btn-accent {
    background-color: #484599;
    color: #FFFFFF;
}

.btn-accent:hover {
    background-color: #25244F;
    color: #FFFFFF;
}

.post:hover {
    opacity: 90%;
}